@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@500&family=Rubik+Dirt&family=Signika:wght@300;500;700&display=swap");
$primaryFontFamily: "Poppins", sans-serif;
$primaryBackgroundColor: #f8f8ff;
$secondaryBackgroundColor: #111344;
$borderColor: #058ed9;
$hoverColor: #dae0f2;
$buttonBackgroundColor: #77b6ea;
$textColor:#fff;
$textHoverColor:#ccc,
