@import "./mixin";
@import "./variables";

.form {
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid $borderColor;
    border-radius: 8px;
  }
  button {
    @include button;
    @include displayFlex(space-between);
    &:hover {
      color: $secondaryBackgroundColor;
      background-color: $primaryBackgroundColor;
    }
  }
}
.form-item {
  margin: 20px 0 6px;

}
