@import "./mixin";
@import "./variables";

.details-container {
  height: 100vh;
  display: flex;
  align-items: center;
  .details-card {
    @include card ;
    padding: 20px;
    line-height: 40px;
  }
  button {
    @include button;
    @include displayFlex(space-between, center);
    margin-top: 16px;
    &:hover {
      color: $secondaryBackgroundColor;
      background-color: $primaryBackgroundColor;
    }
  }
}
