@import "./variables";
@import "./mixin";
.edit-contact {
 @include card;
  padding: 20px;

  h1 {
    text-shadow: 1px 1px 4px $borderColor;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid $borderColor;
    border-radius: 8px;
  }
  button {
    @include button;
    @include displayFlex(space-between, center);
    &:hover {
      color: $secondaryBackgroundColor;
      background-color: $primaryBackgroundColor;
    }
  }
  .edit-item {
    margin: 20px 0;
  }
  .edit-border {
    border-bottom: 1px solid $textColor;
  }
}
.edit-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
