@import "./mixin";
@import "./variables";

.card-container {
  @include displayFlex(center, center);  
}
.card {
  @include card;
  padding: 20px;
 
}
.card__header {
  border-bottom: 1px solid $textColor;
  margin-bottom: 20px;
  h1 {
    text-shadow: 1px 1px 4px $borderColor;
  }
  button {
    @include button;
    @include displayFlex(space-between, center);
    margin: 10px 0 20px;
    &:hover {
      color: $secondaryBackgroundColor;
      background-color: $primaryBackgroundColor;
    }
  }
}

